@CHARSET "UTF-8";

/*	Less Framework 4
http://lessframework.com
by Joni Korpi
License: http://opensource.org/licenses/mit-license.php	*/

/*	Resets	*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em,
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup,
menu, footer, header, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
  display: block;
}

a img {border: 0;}

/*	Typography presets
------------------	*/

body {
  font: 1em/1.5em 'Arial', sans-serif;
}

/* Selection colours (easy to forget) */

::selection 	 	{background: #FF00F5;}
::-moz-selection 	{background: #FF00F5;}
img::selection 		{background: transparent;}
img::-moz-selection	{background: transparent;}
body {-webkit-tap-highlight-color: #FF00F5;}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* COLORS */

body {
  color: #E8E8F0;
  background-color: #182945;
}

.me {
  background-color: #A1C436;
}

.content {
  background-color: #182945;
}

a {
  color: #FBF6CE;
}

.links ul li {
  background: #4566A8;
}

.blog-title {
  color: #E8E8F0;
}

.cifrao {
  color: #A1C436;
  font-size: 2em;
  font-weight: bold;
}

strong {
  color: #FFE60D;
}

/* COLORS */

/*
body {
  width: 80%;
  padding: 2%;
  margin: 0 auto;
}
*/

body {
  margin: 0 auto;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 2em 0 1em;
}

em {
  font-weight: bold;
}

#maps-ireland {
  width: 100%;
  height: 10em;
  margin-bottom: 1em;
}

.header {
  text-align: center;
  position: relative;
}

.content ul, .content ol {
  margin: 0 0 1em 1em;
}

.comentarios {
  margin: 2em auto 0;
  min-height: 170px;
  text-align: center;
}

.fb-comments {
  max-width: 600px;
  width: 100%!important;
}

li {
  margin: 0 0 1em 0;
}


.blog-title {
  text-decoration: none;
}

.huge {
  font-size: 2.2em;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

.large {
  font-size: 1.4em;
}

.main-content {
  max-width: 30em;
  margin: 0 auto;
}

.content {
  min-height: 20em;
  padding: 1em;
  background: url("../images/brasil-ireland.jpg") no-repeat #182945;
  background-size: 10%;
}

.cabecalho {
  margin-bottom: 1.6em;
}

.page-title {
  display: inline;
  margin-bottom: 1em;
  min-width: 5em;
}

.me {
  overflow: hidden;
  margin: 2em auto;
  position: relative;
  max-width: 16em;
  padding: 1em;
}

.container-dont-panic {
  position: absolute;
  width: 4em;
  right: -1.3em;
  top: -2.2em;
}

.dont-panic {
  max-width: 100%;
}

.container-da-foto {
  display: none;
}

.minha-foto {
  max-width: 100%;
}

.post {
  display: inline-block;
}

.posts {
  list-style-type: none;
  display: inline-block;
}

.posts .one-post {
  margin-bottom: 1em;
  line-height: 1.1em;
}

.posts-title {
  display: inline;
  font-size: 1.2em;
}

.list-post-title {
  display: block;
  margin-bottom: 0.3em;
}

.post p {
  text-align: justify;
  margin-bottom: 1em;
}

.font-small {
  font-size: .6em;
  line-height: 1em;
}

.date {
  display: block;
  line-height: 0.3em;
  font-size: .5em;
}

.text-page {
  margin-bottom: 1em;
}

.text-page p:first-of-type {
  margin: .5em 0
}

.text-page p {
  margin: 1.5em 0
}

.links ul {
  list-style-type: none;
  margin: 0;
}

.links ul li {
  float: none;
  width: 100%;
  padding: .5em;
  text-align: center;
}

.primary-links li {
  margin: 0 .1em .1em .1em;
}

.secondary-links li {
  margin: .1em .1em 0 .1em;
}

.links .secondary-links li:nth-child(1) {
  clear: both;
}

.link {
  text-decoration: none;
  font-size: 1.1em;
  color: #FEFEFE;
}

.withoutDisplay {
  display: none;
}

.notVisible {
  visibility: hidden;
}

@media only screen and (min-width: 26em) {

  .content {
    padding: 2em;
  }

  .container-da-foto {
    display: block;
    position: absolute;
    right: 1em;
    width: 5.2em;
  }

  .container-dont-panic {
    top: -3.2em;
    right: -2.3em;
  }

  .links ul li {
    float: left;
    width: 4em;
  }

}

@media only screen and (min-width: 45em) {

  body {
    font-size: 1.4em;
    margin: 0 auto;
  }

  .container-dont-panic {
    width: 5em;
    top: -3.6em;
  }

  .content {
    background-size: 5%;
  }
}

@media only screen and (min-width: 62em) {

  body {
    font-size: 1.5em;
    margin: 0 auto;
  }

  .post {
    padding: 2em;
  }
}

@media only screen and (min-width: 95em) {

  body {
    font-size: 1.5em;
    width: 80%;
    background: url("../images/brasil-ireland.jpg") no-repeat #182945;
    background-size: 3%;
  }

  .header {
    position: fixed;
    right: 11em;
  }

  .container-dont-panic {
    position: initial;
    width: initial;
  }

  .content {
    padding: 2em;
    background: none;
  }

  .me {
    width: 16em;
  }

  .post, .main-content {
    max-width: 55%;
    padding: 0em;
    margin: 0;
  }

  .comentarios {
    text-align: initial;
  }
}

@media only screen and (min-width: 110em) {
  body {
    font-size: 1.7em;
  }

  .post, .main-content {
    max-width: 57%;
  }
}

.blinked-s {
  -moz-animation:    'blink' 2s infinite; /* Fx 5+ */
  -webkit-animation: 'blink' 2s infinite; /* Safari 4+ */
  -o-animation:      'blink' 2s infinite; /* Opera 12+ */
  animation:         'blink' 2s infinite; /* IE 10+ */
}

@-webkit-keyframes 'blink' {
  0% { background: rgba(101, 81, 81, 1); }
  49% { background: rgba(101, 81, 81, 1); }
  50% { background: rgba(254, 254, 254, 0); }
  100% { background: rgba(254, 254, 254, 0); }
}

@-moz-keyframes 'blink' {
  0% { background: rgba(101, 81, 81, 1); }
  49% { background: rgba(101, 81, 81, 1); }
  50% { background: rgba(254, 254, 254, 0); }
  100% { background: rgba(254, 254, 254, 0); }
}

@-o-keyframes 'blink' {
  0% { background: rgba(101, 81, 81, 1); }
  49% { background: rgba(101, 81, 81, 1); }
  50% { background: rgba(254, 254, 254, 0); }
  100% { background: rgba(254, 254, 254, 0); }
}

@keyframes 'blink' {
  0% { background: rgba(101, 81, 81, 1); }
  49% { background: rgba(101, 81, 81, 1); }
  50% { background: rgba(254, 254, 254, 0); }
  100% { background: rgba(254, 254, 254, 0); }
}

/* pygments */
.hll { background-color: #ffffcc }
.c { color: #008000 } /* Comment */
.err { border: 1px solid #FF0000 } /* Error */
.k { color: #0000ff } /* Keyword */
.cm { color: #008000 } /* Comment.Multiline */
.cp { color: #0000ff } /* Comment.Preproc */
.c1 { color: #008000 } /* Comment.Single */
.cs { color: #008000 } /* Comment.Special */
.ge { font-style: italic } /* Generic.Emph */
.gh { font-weight: bold } /* Generic.Heading */
.gp { font-weight: bold } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { font-weight: bold } /* Generic.Subheading */
.kc { color: #0000ff } /* Keyword.Constant */
.kd { color: #0000ff } /* Keyword.Declaration */
.kn { color: #0000ff } /* Keyword.Namespace */
.kp { color: #0000ff } /* Keyword.Pseudo */
.kr { color: #0000ff } /* Keyword.Reserved */
.kt { color: #2b91af } /* Keyword.Type */
.s { color: #a31515 } /* Literal.String */
.nc { color: #2b91af } /* Name.Class */
.ow { color: #0000ff } /* Operator.Word */
.sb { color: #a31515 } /* Literal.String.Backtick */
.sc { color: #a31515 } /* Literal.String.Char */
.sd { color: #a31515 } /* Literal.String.Doc */
.s2 { color: #a31515 } /* Literal.String.Double */
.se { color: #a31515 } /* Literal.String.Escape */
.sh { color: #a31515 } /* Literal.String.Heredoc */
.si { color: #a31515 } /* Literal.String.Interpol */
.sx { color: #a31515 } /* Literal.String.Other */
.sr { color: #a31515 } /* Literal.String.Regex */
.s1 { color: #a31515 } /* Literal.String.Single */
.ss { color: #a31515 } /* Literal.String.Symbol */

.fb-comments, .fb-comments iframe[style], .fb-like-box, .fb-like-box iframe[style] {width: 100% !important;}
.fb-comments span, .fb-comments iframe span[style], .fb-like-box span, .fb-like-box iframe span[style] {width: 100% !important;}
