@CHARSET "UTF-8";

/*	Less Framework 4
http://lessframework.com
by Joni Korpi
License: http://opensource.org/licenses/mit-license.php	*/

/*	Resets	*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em,
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup,
menu, footer, header, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
  display: block;
}

a img {border: 0;}

/*	Typography presets
------------------	*/

body {
  font: 1em/1.5em 'Arial', sans-serif;
}

/* Selection colours (easy to forget) */

::selection 	 	{background: rgb(255,255,158);}
::-moz-selection 	{background: rgb(255,255,158);}
img::selection 		{background: transparent;}
img::-moz-selection	{background: transparent;}
body {-webkit-tap-highlight-color: rgb(255,255,158);}

/*  Default Layout: 992px.
Gutters: 24px.
Outer margins: 48px.
Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    */


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #FEFEFE;
  color: #655151;
  width: 100%;
  padding: 2%;
  margin-top: 1%;
}

header {
  text-align: center;
}

.blog-title {
  text-decoration: none;
  color: #655151;
}

.huge, h1 {
  font-size: 2.2em;
  letter-spacing: -1px;
}

.large, h2 {
  font-size: 1.4em;
}

.main-content {
  clear: both;
}

.page-title {
  margin: 1em 0 0.5em;
}

.posts-title {

}

.me {
    max-width: 16em;
    overflow: hidden;
    margin: 2em auto 0;
}

.container-da-foto {
  float: left;
  width: 5.5em;
}

.minha-foto {
  margin-left: 0.5em;
  max-width: 100%;
}

.cifrao {
  color: #14691C;
}

.posts {
  list-style-type: none;
}

.posts .one-post {
  margin-bottom: 1em;
  line-height: 1.1em;
}

.list-post-title {
  color: #4566A8;
  display: block;
  margin-bottom: 0.3em;
}

.date {
  display: block;
  line-height: 0.3em;
  font-size: .5em;
}

.text-page {
  margin-bottom: 1em;
}

.text-page p:first-of-type {
  margin: .5em 0
}

.text-page p {
  margin: 1.5em 0
}

.links {
    float: left;
}

.links ul {
  list-style-type: none;
}

.links ul li {
  float: left;
  padding: .5em;
  background: #4566A8;
  width: 4em;

  text-align: center;
  margin: .1em;
}


.links .primary-links li:nth-child(1),
.links .secondary-links li:nth-child(1) {
}

.links .primary-links li:nth-child(1),
.links .primary-links li:nth-child(2) {
}

.link {
  text-decoration: none;
  font-size: 1.1em;
  color: #FEFEFE;
}



/*	Desktop: 320px. */
@media only screen and (min-width: 992px) {

  body {
    font: 1.5em/1.5em 'Arial', sans-serif;
    background: #FEFEFE;
    color: #655151;
    width: 70%;
    margin: 0 auto;
  }

  .page-title {
    margin: 1em 0 1.5em;
  }

  .me {
    margin: 5em auto 0;
  }
}

/*	Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {

  body {
    font: 1.3em/1.5em 'Arial', sans-serif;
  }
}

/*	Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {

  body {
    font: 1.2em/1.5em 'Arial', sans-serif;
  }
}

/*	Android minimals Layout: 480px. */
@media only screen and (max-width: 290px) {

  .minha-foto {
    display: none;
  }

  .links {
    margin-left: 2.5em;
  }
}

.blinked-s {
  -webkit-animation: 'blink' 2s infinite; /* Safari 4+ */
  -moz-animation:    'blink' 2s infinite; /* Fx 5+ */
  -o-animation:      'blink' 2s infinite; /* Opera 12+ */
  animation:         'blink' 2s infinite; /* IE 10+ */
}

@-webkit-keyframes 'blink' {
  0% { background: rgba(101, 81, 81, 1); }
  49% { background: rgba(101, 81, 81, 1); }
  50% { background: rgba(254, 254, 254, 0); }
  100% { background: rgba(254, 254, 254, 0); }
}

@-moz-keyframes 'blink' {
  0% { background: rgba(101, 81, 81, 1); }
  49% { background: rgba(101, 81, 81, 1); }
  50% { background: rgba(254, 254, 254, 0); }
  100% { background: rgba(254, 254, 254, 0); }
}

@-o-keyframes 'blink' {
  0% { background: rgba(101, 81, 81, 1); }
  49% { background: rgba(101, 81, 81, 1); }
  50% { background: rgba(254, 254, 254, 0); }
  100% { background: rgba(254, 254, 254, 0); }
}

@keyframes 'blink' {
  0% { background: rgba(101, 81, 81, 1); }
  49% { background: rgba(101, 81, 81, 1); }
  50% { background: rgba(254, 254, 254, 0); }
  100% { background: rgba(254, 254, 254, 0); }
}

/* pygments */
.hll { background-color: #ffffcc }
.c { color: #008000 } /* Comment */
.err { border: 1px solid #FF0000 } /* Error */
.k { color: #0000ff } /* Keyword */
.cm { color: #008000 } /* Comment.Multiline */
.cp { color: #0000ff } /* Comment.Preproc */
.c1 { color: #008000 } /* Comment.Single */
.cs { color: #008000 } /* Comment.Special */
.ge { font-style: italic } /* Generic.Emph */
.gh { font-weight: bold } /* Generic.Heading */
.gp { font-weight: bold } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { font-weight: bold } /* Generic.Subheading */
.kc { color: #0000ff } /* Keyword.Constant */
.kd { color: #0000ff } /* Keyword.Declaration */
.kn { color: #0000ff } /* Keyword.Namespace */
.kp { color: #0000ff } /* Keyword.Pseudo */
.kr { color: #0000ff } /* Keyword.Reserved */
.kt { color: #2b91af } /* Keyword.Type */
.s { color: #a31515 } /* Literal.String */
.nc { color: #2b91af } /* Name.Class */
.ow { color: #0000ff } /* Operator.Word */
.sb { color: #a31515 } /* Literal.String.Backtick */
.sc { color: #a31515 } /* Literal.String.Char */
.sd { color: #a31515 } /* Literal.String.Doc */
.s2 { color: #a31515 } /* Literal.String.Double */
.se { color: #a31515 } /* Literal.String.Escape */
.sh { color: #a31515 } /* Literal.String.Heredoc */
.si { color: #a31515 } /* Literal.String.Interpol */
.sx { color: #a31515 } /* Literal.String.Other */
.sr { color: #a31515 } /* Literal.String.Regex */
.s1 { color: #a31515 } /* Literal.String.Single */
.ss { color: #a31515 } /* Literal.String.Symbol */
