div.container {
  padding-bottom: 30px;
}

header h1 {
  margin-bottom: 0;
}

header ul {
  display: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

header ul li {
  display: inline-block;
}

.posts_title {
  margin-bottom: 30px;
}

ul.posts {
  list-style-type: none;
  margin: 0;
}

ul.posts li {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 20px;
}

.date {
  display: block;
  font-size: 12px;
  line-height: 0px;
}

@media ( min-width :860px) {
  html {}

  .avatar {
    float: right;
    margin: 10px 10px;
    padding: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
  }
}

@media (max-width: 859px) and (min-width: 600px) {
  html {}

  .avatar {
    float: right;
    margin: 10px 10px;
    padding: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
  }
}

@media (max-width: 599px) and (min-width: 460px) {
  html {}

  .avatar {
    float: right;
    margin: 2px 0px;
    padding: 5px;
    width: 120px;
    height: 120px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
  }
}

@media ( max-width :459px) {
  html {}

  .avatar {
    float: right;
    margin: 2px 0px;
    padding: 5px;
    width: 70px;
    height: 70px;
  }

  .name {
    font-size: 25px;
  }

  .posts_title {
    font-size: 20px;
  }

  .lead a {
  }

  span.date {
    display: none;
  }

  ul.posts li {
    margin-bottom: 5px;
    border-bottom: 1px solid;
  }

  .lead {
    font-size: 15px;
  }
}
