<!doctype html>
<html>

  <head>
    <meta charset="utf-8"/>
    <title>Arthur Carvalho</title>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" media="all" href="/css/application2.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Adding "maximum-scale=1" fixes the Mobile Safari auto-zoom bug: http://filamentgroup.com/examples/iosScaleBug/ -->
  </head>

  <body lang="en">
    <div id="container">
      <header>
          <span class="huge">Arthur Carvalho</span>
          <p class="links">
            <a href="/">home</a> /
            <a href="http://github.com/armoucar" target="_blank">github</a> /
            <a href="http://twitter.com/armoucar" target="_blank">twitter</a> /
            <a href="#">rss</a>
          </p>
          <a class="menu" href="#" >Menu</a>
      </header>
      <div id="main-content">
        {{ content }}
      </div>
      <section class="minha-foto">
        <img src="http://www.gravatar.com/avatar/46192cf0945c0db783e6f807c2ff336d?s=100" />
      </section>
    </div>
  </body>

</html>
