<!doctype html>
<html>

  <head>
    <meta charset="utf-8"/>
    <title>Arthur Carvalho</title>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" media="all" href="/css/application.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Adding "maximum-scale=1" fixes the Mobile Safari auto-zoom bug: http://filamentgroup.com/examples/iosScaleBug/ -->
  </head>

  <body lang="en">

    <section class="main-content">
      <header class="header">
        <a class="huge blog-title" href="/">Arthur Carvalho</a>

        <div class="me">
          <nav class="links">
            <ul class="primary-links">
              <li><a class="link" href="/">home</a></li>
              <li><a class="link" href="/feed.xml" target="_blank">rss</a></li>
            </ul>
            <ul class="secondary-links">
              <li><a class="link" href="http://github.com/armoucar" target="_blank">github</a></li>
              <li><a class="link" href="http://twitter.com/armoucar" target="_blank">twitter</a></li>
            </ul>
          </nav>

          <div class="container-da-foto">
            <img class="minha-foto" src="http://www.gravatar.com/avatar/46192cf0945c0db783e6f807c2ff336d?s=165" />
          </div>
        </div>
      </header>

      {{ content }}
    </section>

    <script type="text/javascript" charset="utf-8" src="/javascripts/CLIType.js"></script>
    <script type="text/javascript" charset="utf-8" src="/javascripts/application.js"></script>
  </body>

</html>
