<!doctype html>
<html>

  <head>
    <meta charset="utf-8"/>
    <title>Arthur Carvalho</title>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" media="all" href="/css/application.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
  </head>

  <body lang="en">

    <section class="content">
      <header class="header">
        <a class="huge blog-title" href="/">Arthur Carvalho</a>

        <div class="me">
          <nav class="links">
            <ul class="primary-links">
              <li><a class="link" href="/">home</a></li>
              <li><a class="link" href="/feed.xml" target="_blank">rss</a></li>
            </ul>
            <ul class="secondary-links">
              <li><a class="link" href="http://github.com/armoucar" target="_blank">github</a></li>
              <li><a class="link" href="http://twitter.com/armoucar" target="_blank">twitter</a></li>
            </ul>
          </nav>
          <div class="container-da-foto">
            <img class="minha-foto" alt="Intercambista em Dublin, Irlanda. Fissurado em desenvolvimento de software e ama música." src="http://www.gravatar.com/avatar/46192cf0945c0db783e6f807c2ff336d?s=165" />
          </div>
        </div>

        <div class="container-dont-panic">
          <a href="#"><img class="dont-panic" src="../images/dont-panic.png" alt="about me" /></a>
        </div>
      </header>

      <article class="post">
        <h2 class="page-title">
          <span class="cifrao">$ </span><a id="post"><span class="posts-title">{{ page.title}}</span></a>
        </h2>

        {{ content }}

        <div class="comentarios">
          <div class="fb-comments" data-href="http://arthurcarvalho.com{{ page.url }}" data-colorscheme="dark" data-width="600" data-num-posts="500" fb-xfbml-state="rendered"></div>
        </div>
      </article>

    </section>


<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

  </body>

</html>
